<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{{page}}</title>
</head>
<body class="container">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Contact</a>
          <form class="d-flex" role="search">
            {% if request.user.is_authenticated %}
                Hello {{request.user}},<a href="/logout/" class="btn btn-outline-success" >Logout</a>
            {% else %}
                <a href="/login/" class="btn btn-primary" >Login</a>
            {% endif %}
          </form>
        </div>
      </nav>
{% block start%}

{% endblock %}

</body>
</html>    