{% extends "base.html" %}
{% block start %}
    <h2>This is Django App</h2>
<a href="/about/">Abount</a>&nbsp;|&nbsp;<a href="/contact/">Contact</a>&nbsp;|&nbsp;<a href="/logout/">Logout</a><br><br><hr>

<div class="container">
    <h6>Send Email</h6><a href="{% url 'send_email' %}" class="btn btn-primary">Send Email</a>
</div>
    <table class="mt-5 table table-striped table-bordered table-hover">
        <thead><tr><td>SNo</td><td>Name</td><td>Age</td><td>Can Vote</td></tr></thead>
        {% for people in peoples%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td>
                {% if people.age >= 18 %}
                👍
                {% else %}
                👎
                {% endif %}
            </td>
        </tr>
        {% endfor%}
    </table>
    
    


    {% endblock %}
